@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}
.login {
	max-width: 20rem;
	margin: 0 auto;
	border: 1px solid #00000037;
	padding: 30px;
	background: #ced4da;
}
header {
	position: fixed;
	top: 0;
	min-width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
}
