@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: #fdfcf2;
}
.container {
	background: rgb(255, 242, 224) !important;
}
.login {
	max-width: 20rem;
	border: 1px solid #00000037;
	padding: 50px;
	background: #212529;
	color: antiquewhite;
	margin: 100px auto;
}

footer {
	position: relative;
	bottom: 0;
	text-align: center;
}

.fourZeroFour {
	background: url("/public/images/404.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#card {
	max-width: 30rem;
	max-height: 30rem;
	margin: auto;
}

#card img {
	width: 50%;
}
